.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  margin-top: 25px;
  background: white;
  height: 100%;
  top: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

body {
  background: #d9a7c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #e8cbc0, #636FA4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #2E1437, #948e99); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.divStyle {
  margin-top: 20px;
}

.container > div {
  padding: 10px 50px;
}
